doctype html
head
  meta(charset='utf-8')
  title Mapbox GL JS map
  meta(name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no')
  link(href='https://api.mapbox.com/mapbox-gl-js/v3.5.1/mapbox-gl.css' rel='stylesheet')
  script(src='https://api.mapbox.com/mapbox-gl-js/v3.5.1/mapbox-gl.js')
  style.
    body { margin: 0; padding: 0; }
    #map { position: absolute; top: 0; bottom: 0; width: 100%; }
#map
script.
  mapboxgl.accessToken = 'pk.eyJ1Ijoiam9obmRvZTEyMzQ1Njc3ODkiLCJhIjoiY2x6MGVrYm5jMmp0ajJqcjRpemUwdGQyZiJ9.CcAlJKAJvrs5fM2bfwBHpA';
  const map = new mapboxgl.Map({
  container: 'map', // container ID
  center: [-74.5, 40], // starting position [lng, lat]. Note that lat must be set between -90 and 90
  zoom: 9 // starting zoom
  });
